<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.himawari.permissionUtils">

    <!--Request Permission-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Android6.0 蓝牙扫描才需要-->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--获取拍照后的图片-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 悬浮框权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.READ_LOGS" />

    <!--ScreenControlUtils Required-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--WebViewActivity Required-->
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".resolution.ResolutionActivity"/>
        <activity android:name=".activity.AlarmActivity"/>
        <activity android:name=".activity.WebActivity"
           android:screenOrientation="landscape"
           ></activity>
        <activity android:name=".activity.ServiceActivity"/>
        <activity android:name=".activity.WebLoginActivity"/>
        <activity android:name=".activity.CircleActivity"/>
        <activity android:name=".deleteList.DeleteListActivity"/>
        <activity android:name=".activity.MenuActivity"/>
        <activity android:name=".activity.DrawerActivity"/>
        <activity android:name=".activity.CalendarActivity"/>
        <activity android:name=".activity.TrendActivity"/>
        <activity android:name=".activity.MoireActivity"/>

        <service
            android:name=".services.BaseService"
            android:process=":remote"></service>
        <service android:name=".services.ProtectorService"></service>
        <receiver android:name=".receiver.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.himawari.requestpermission.mybroadcast"></action>
            </intent-filter>
        </receiver>

        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"></meta-data>
        </provider>
    </application>

</manifest>